<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <!-- 로그인 조회 -->
    <select id="loginCheckId">
        <![CDATA[
        SELECT *
             , fn_dec(name) AS user_name
          FROM tb_user
         WHERE login_id = #{loginId}
        ]]>
    </select>
</mapper>